OPENAI_API_KEY=your_openai_api_key
TAVILY_API_KEY=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
OPENWEATHER_API_KEY=875d61b9e784d6fb55143966e0837d83
LITEAPI_KEY=sand_7aa9c679-c969-48b1-81eb-52849778cae3
GOOGLE_MAPS_API_KEY=AIzaSyBCB30-YT0OLz8v2jpKccU7dQaomXq9ZGU
ITINERO_MODEL=gpt-4o-mini
ITINERO_TEMPERATURE=0.3

# LangSmith tracing (optional)
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT=itinero
